@font-face{
    font-family: Abel;
    src: url(../fonts/Abel/Abel-Regular.ttf);
}
@font-face{
    font-family: Anton;
    src: url(../fonts/Abel/Anton-Regular.ttf);
}
@font-face{
    font-family: Josefin_sans;
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face{
    font-family: Lexend_Deca;
    src: url(../fonts/Lexend_Deca/LexendDeca-Regular.ttf);
}
@font-face{
    font-family: Livvic;
    src: url(../fonts/Livvic/Livvic-Regular.ttf);
}
@font-face{
    font-family: Anton1;
    src: url(../fonts/Anton1/Anton-Regular.ttf);